.dashboard{
    flex: 1;
    background-color: #EBEEF0;
    height: 100vh;
}

.dashboard_header{
    background-color: white;
    padding:15px;
    color: #808080;
}

.dashboard_base{
    display: flex;
    flex-direction: column;
}

.dashboard_first{
    display: flex;
    
}

.dashboard_second{
    padding: 15px;
}