.navbar{
    display: flex;
    flex-direction: column;
    background-color: #31373D;
    height: 100vh;
}

.navbar a{
    margin: 10px 0;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.navbar a svg {
    padding-right: 10px;
    padding-left: 25px;
}

.navbar a span {
    padding-right: 25px;
}